body{
    background-color: rgba(173, 19, 238, 0.849);  
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#logo_musix{
    height: 40px;
    width:40px;
    border-radius: 0px 12px 0px 12px;
}
.brand img{
    height:50px;
    width:50px;
}
.brand{
    display:flex;
    padding: 0px 8px;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}


.container{
    /* min-height:65vh; */
    display:flex;
    background-color: rgb(0, 0, 0);
    color:rgb(112, 239, 43);
    width:100%;
    margin: 20px auto;
    border-radius: 30px;
    padding: 40px 0px 30px 30px;
    background-image: url(bg..jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1400px){
  .row{
    width:100%;
  }
}

.row::after{
  
    content: "";
    display: table;
    clear: both;
  }

.column{
    float:left;
    width:50%;
    padding:10px;
    height: auto;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    height: auto;
  }
}

.column h1{
    /* background-color:black; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#42f042;
    text-shadow: 0px 15px 10px #010054, 0px 15px 8px #000000;
    padding: 35px;
    border-radius: 20px;
    display:flex;
    font-size: 4rem;
    width: auto;
    word-spacing: 100px;
}

/* @media screen and (max-width: 1400px) {
  .column h1{
    font-size:20px;
  }
} */

.column:after{
  content: "";
  display: table;
  clear: both;
} 

.column h2{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    padding:35px;
    border-radius: 20px;
    font-weight: 900;
}

.contact{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(181, 180, 180);
    height: 240px;
    width: 100%;
    margin-bottom: 100px;
    padding: 30px;
}

.column_contact{
  width:33.3%;
  height:200px;
  background-color: rgb(184, 179, 179);
}

.column_contact h3{
  font-weight: 1000;
}
.column_contact h4{
  font-weight: 600;
  color: rgb(97, 0, 74);

}
@media screen and (max-width:650px){
  .contact{
    flex-direction: column;
    margin-bottom: 220px;
    height: auto;
  }
  .column_contact{
    height: auto;
    margin-top: 30px;
    width:100%
  }
}

.media_icons i{
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.media_icons i:hover{
  color:rgb(170, 170, 170);
  background-color: rgb(0, 0, 0);
  padding: 4px;
  border-radius: 30%;
}

.mail_icon{
  font-size: 25px;
  margin-right: 5px;
  color:black;
}

.copy_right{
  width:100%;
}



.bottom{
    position:fixed;
    background-color: black;
    color:rgb(112, 239, 43);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom:0;
}
.control{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width:100vw;
    padding: 5px;
}

@media screen and (max-width: 650px){
  .control{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
  

.bottom i{
    font-size: 35px;
    
}
#myProgressBar{
    width:80vw; 
    cursor:pointer;
    margin: 10px 0px 20px 0px;
}
.icons{
    margin-top: 20px;
    width: 20%; 
    display: flex;
    justify-content: center;
    position:relative;
    align-items: center;
    
}

.icons i{
    cursor:pointer;
    margin: 5px;
}

.songlistitems{
    height:40vh;
    margin-top: 20px;
    overflow-y: scroll;
}
.songlistitems::-webkit-scrollbar {
    display: none;
}
.songItems{
    height:40px;
    display:flex;
    background-color: rgb(255, 255, 255);
    width:90%;
    color:black;
    margin: 8px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    min-width: 346px;
}
.songItems img{
    width:35px;
    margin:0px 10px;
    border-radius: 50%;
}
.songItems i{
    margin:0px 10px;
    cursor: pointer;
}
.slideshow{
    height:70vh;
    width:40vw;
    margin-top: 80px;
    right:0;
}

.songinfo{
    margin-left: 30px;
    display: flex;
}
.shuffle{
    margin-top: 20px;
    position: relative;
    margin:20px 10px 0px 40px;
}

.songinfo img{
    opacity:0;
    transition: 0.4s ease-in;
}
.container-fluid{
    color:white;
    justify-content: space-evenly;
}

.shuffle i{
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
    position:relative;
   
}


/* slideshow ...............................................*/
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
 
  img {
    vertical-align: middle;
}
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
.slide_image{
    border-radius: 20px ;
    width:100%;
}
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    cursor:pointer;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #5f5a5a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .1s ease;
  }
  
  .active {
    background-color: #ffffff;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 6s;
  }
  
  @keyframes fade {
    from {opacity: .9} 
    to {opacity: 5}
  }
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }




 /* search function................... */

  
 #myInput {
  width: 50%;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  border-radius: 10px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}




.scroll-box{
  height:1000px; 
  width: 100%; 
  background-color: rgb(38, 38, 38);
  color:rgb(43, 82, 239) ;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:700;
}
div.scroll-container_albums .scroll_1{
  background-color: #000000;
  overflow-y: scroll;
  white-space: nowrap;
  display:flex;
  padding: 20px;

}
div.scroll-container_albums .scroll_2{
  background-color: #000000;
  overflow-y: scroll;
  white-space: nowrap;
  display: flex;
  padding: 20px;
}
div.scroll-container_albums .scroll_1::-webkit-scrollbar{
display:none;
}
div.scroll-container_albums .scroll_2::-webkit-scrollbar{
display:none;
}


div.scroll-container_albums .scroll_1 img {
  padding: 10px;
  cursor:pointer;
}

div.scroll-container_albums .scroll_2 img {
  padding: 10px;
  cursor:pointer;
}


div.scroll-container_albums .scroll_1 img:hover{
  background-color: rgb(89, 88, 88);
  transform: scale(1.2); 
  /* border-radius: 20px; */
  transform: translateY(-20px) ;
}

div.scroll-container_albums .scroll_2 img:hover{
  background-color: rgb(87, 87, 87);
  transform: translateY(-20px) ;
  /* border-radius: 20px;  */
}


